<form class="userForm" th:fragment="userForm" style="display:none;">
    <div class="col-md-7 offset-md-3 text-center">

    <div class="form-group">
        <span class="font-weight-bold">ID</span>
    <input type="text"  class="form-control" id="id" name="id" disabled>
    </div>
    <div class="form-group">
        <span class="font-weight-bold">First name</span>
        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First name" required>
    </div>
    <div class="form-group">
        <span class="font-weight-bold">Last name</span>
        <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last name">
    </div>
    <div class="form-group">
        <span class="font-weight-bold">Age</span>
        <input type="text" class="form-control" id="age" name="age" placeholder="Age">
    </div>
    <div class="form-group">
        <span class="font-weight-bold">Email</span>
        <input type="email"  class="form-control" id="username" name="username" placeholder="Email" required>
    </div>
    <div class="form-group">
        <span class="font-weight-bold">Password</span>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
    </div>
    <div class="form-group">
        <span class="font-weight-bold">Role</span>
        <select multiple class="form-control" id="roles" size="2">
        </select>
    </div>
    </div>
</form>
